.icon_img{
    background-color: #25282f;
}
.mini_address{
    padding: top 30px;;
    
}
.blank_space{
   position: absolute;
    background-color: rgb(245, 245, 245);
}
.main_img{
    position: absolute;
}
.business{
    background-color: #2889c190;
    color: white;
    position: relative;   
}
.business h3, .business h2, .business h4{
    padding-left: 7%;
    padding-bottom: 6%;
}
.business h3  {
    font-size: 400%;
    font-weight: 900;
    margin-top: -15.4%;
    padding-left: 7.4%;
    padding-bottom: 9.5%;
}
.business h2{
    font-size: 800%;
    font-weight: 1000;
    color: rgba(255, 255, 255, 0.543);
    letter-spacing: 5px;
}
.business h4{
    font-size: 200%;
    font-weight: 800;
    padding-top: 4%;
    padding-left: 7.9%;
}
.pink_color{
    background-color: #c43a7491;
    padding: 5%;
    width: 5%;
    margin-bottom: 25%;
}
.About_company{
    background-color: rgb(245, 245, 245);
    padding: 4%;
    position: relative;
}
.Descripsion_part{
    padding: 3%;
    text-align: justify;       
}
.Descripsion_part img{
    height: 25%;
    width: 15%;
    margin-bottom: 2%;
}